.about {
  padding: 100px 0;
  background-image: linear-gradient(to bottom,  #55555596, #ffffff);
  text-align: center;
  height: 65vh;
  margin-top: 1px;
  margin-bottom: 1px;
}

.about-content {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}

.about-text {
  margin-bottom: 20px;
}

.about h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.about p {
  font-size: 1.2rem;
  line-height: 1.6;
  opacity: 0.8;
}
